In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset= pd.read_csv('loan_data.csv')

In [3]:
dataset

,person_age,person_gender,person_education,person_income,person_emp_exp,person_home_ownership,loan_amnt,loan_intent,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,previous_loan_defaults_on_file,loan_status
0,22.0,female,Master,71948.0,0,RENT,35000.0,PERSONAL,16.02,0.49,3.0,561,No,1
1,21.0,female,High School,12282.0,0,OWN,1000.0,EDUCATION,11.14,0.08,2.0,504,Yes,0
2,25.0,female,High School,12438.0,3,MORTGAGE,5500.0,MEDICAL,12.87,0.44,3.0,635,No,1
3,23.0,female,Bachelor,79753.0,0,RENT,35000.0,MEDICAL,15.23,0.44,2.0,675,No,1
4,24.0,male,Master,66135.0,1,RENT,35000.0,MEDICAL,14.27,0.53,4.0,586,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,male,Associate,47971.0,6,RENT,15000.0,MEDICAL,15.66,0.31,3.0,645,No,1
44996,37.0,female,Associate,65800.0,17,RENT,9000.0,HOMEIMPROVEMENT,14.07,0.14,11.0,621,No,1
44997,33.0,male,Associate,56942.0,7,RENT,2771.0,DEBTCONSOLIDATION,10.02,0.05,10.0,668,No,1
44998,29.0,male,Bachelor,33164.0,4,RENT,12000.0,EDUCATION,13.23,0.36,6.0,604,No,1
44999,24.0,male,High School,51609.0,1,RENT,6665.0,DEBTCONSOLIDATION,17.05,0.13,3.0,628,No,1

In [4]:
qual=[]
quan=[]
for ColumnNames in dataset.columns:
    if (dataset[ ColumnNames ].dtypes== 'O'):
            qual.append(ColumnNames)
               # print('qual')
    else:
               # print('quan')
             quan.append(ColumnNames)

In [5]:
quan

['person_age',
 'person_income',
 'person_emp_exp',
 'loan_amnt',
 'loan_int_rate',
 'loan_percent_income',
 'cb_person_cred_hist_length',
 'credit_score',
 'loan_status']

In [6]:
descriptive= pd.DataFrame(index=['mean','median','mode','q1:25%','q2:50%','q3:75%',
                                '99%','q4:100%','IQR','1.5rule','Lesser','Greater','min','max'],columns=quan)
for columnNames in quan:
    descriptive[columnNames]['mean']=dataset[columnNames].mean()
    descriptive[columnNames]['median']=dataset[columnNames].median()
    descriptive[columnNames]['mode']=dataset[columnNames].mode()[0]
    descriptive[columnNames]['q1:25%']=dataset.describe()[columnNames]['25%']
    descriptive[columnNames]['q2:50%']=dataset.describe()[columnNames]['50%']
    descriptive[columnNames]['q3:75%']=dataset.describe()[columnNames]['75%']
    descriptive[columnNames]['99%']=np.percentile(dataset[columnNames],99)
    descriptive[columnNames]['q4:100%']=dataset.describe()[columnNames]['max']
    descriptive[columnNames]['IQR']=descriptive[columnNames]['q3:75%']-descriptive[columnNames]['q1:25%']
    descriptive[columnNames]['1.5rule']=1.5*descriptive[columnNames]['IQR']
    descriptive[columnNames]['Lesser']=descriptive[columnNames]['q1:25%']-descriptive[columnNames]['1.5rule']
    descriptive[columnNames]['Greater']=descriptive[columnNames]['q3:75%']+descriptive[columnNames]['1.5rule']
    descriptive[columnNames]['min']= dataset[columnNames].min()
    descriptive[columnNames]['max']= dataset[columnNames].max()

In [7]:
descriptive

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
mean,27.7642,80319.1,5.41033,9583.16,11.0066,0.139725,5.86749,632.609,0.222222
median,26,67048,4,8000,11.01,0.12,4,640,0
mode,23,8000,0,10000,11.01,0.08,4,658,0
q1:25%,24,47204,1,5000,8.59,0.07,3,601,0
q2:50%,26,67048,4,8000,11.01,0.12,4,640,0
q3:75%,30,95789.2,8,12237.2,12.99,0.19,8,670,0
99%,48,271450,26,28390.3,18.25,0.4,17,724,1
q4:100%,144,7.20077e+06,125,35000,20,0.66,30,850,1
IQR,6,48585.2,7,7237.25,4.4,0.12,5,69,0
1.5rule,9,72877.9,10.5,10855.9,6.6,0.18,7.5,103.5,0
Lesser,15,-25673.9,-9.5,-5855.88,1.99,-0.11,-4.5,497.5,0
Greater,39,168667,18.5,23093.1,19.59,0.37,15.5,773.5,0
min,20,8000,0,500,5.42,0,2,390,0
max,144,7.20077e+06,125,35000,20,0.66,30,850,1

In [8]:
Lesser=[]
Greater=[]
for columnNames in quan:
    if(descriptive[columnNames]['min']<descriptive[columnNames]['Lesser']):
        Lesser.append(columnNames)
    if(descriptive[columnNames]['max']>descriptive[columnNames]['Greater']):
        Greater.append(columnNames)

In [9]:
Lesser

['credit_score']

In [10]:
Greater

['person_age',
 'person_income',
 'person_emp_exp',
 'loan_amnt',
 'loan_int_rate',
 'loan_percent_income',
 'cb_person_cred_hist_length',
 'credit_score',
 'loan_status']

In [11]:
for columnNames in Lesser:
    
    dataset[columnNames][dataset[columnNames]<descriptive[columnNames]['Lesser']]=descriptive[columnNames]['Lesser']
for columnNames in Greater:
     
    dataset[columnNames][dataset[columnNames]>descriptive[columnNames]['Greater']]=descriptive[columnNames]['Greater']

C:\Users\haish\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\haish\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\haish\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [12]:
descriptive= pd.DataFrame(index=['mean','median','mode','q1:25%','q2:50%','q3:75%',
                                '99%','q4:100%','IQR','1.5rule','Lesser','Greater','min','max'],columns=quan)
for columnNames in quan:
    descriptive[columnNames]['mean']=dataset[columnNames].mean()
    descriptive[columnNames]['median']=dataset[columnNames].median()
    descriptive[columnNames]['mode']=dataset[columnNames].mode()[0]
    descriptive[columnNames]['q1:25%']=dataset.describe()[columnNames]['25%']
    descriptive[columnNames]['q2:50%']=dataset.describe()[columnNames]['50%']
    descriptive[columnNames]['q3:75%']=dataset.describe()[columnNames]['75%']
    descriptive[columnNames]['99%']=np.percentile(dataset[columnNames],99)
    descriptive[columnNames]['q4:100%']=dataset.describe()[columnNames]['max']
    descriptive[columnNames]['IQR']=descriptive[columnNames]['q3:75%']-descriptive[columnNames]['q1:25%']
    descriptive[columnNames]['1.5rule']=1.5*descriptive[columnNames]['IQR']
    descriptive[columnNames]['Lesser']=descriptive[columnNames]['q1:25%']-descriptive[columnNames]['1.5rule']
    descriptive[columnNames]['Greater']=descriptive[columnNames]['q3:75%']+descriptive[columnNames]['1.5rule']
    descriptive[columnNames]['min']= dataset[columnNames].min()
    descriptive[columnNames]['max']= dataset[columnNames].max()

In [13]:
descriptive

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status
mean,27.4447,75677.4,5.17031,9411.04,11.0057,0.138842,5.78371,632.808,0
median,26,67048,4,8000,11.01,0.12,4,640,0
mode,23,168667,0,10000,11.01,0.08,4,497.5,0
q1:25%,24,47204,1,5000,8.59,0.07,3,601,0
q2:50%,26,67048,4,8000,11.01,0.12,4,640,0
q3:75%,30,95789.2,8,12237.2,12.99,0.19,8,670,0
99%,39,168667,18.5,23093.1,18.25,0.37,15.5,724,0
q4:100%,39,168667,18.5,23093.1,19.59,0.37,15.5,773.5,0
IQR,6,48585.2,7,7237.25,4.4,0.12,5,69,0
1.5rule,9,72877.9,10.5,10855.9,6.6,0.18,7.5,103.5,0
Lesser,15,-25673.9,-9.5,-5855.88,1.99,-0.11,-4.5,497.5,0
Greater,39,168667,18.5,23093.1,19.59,0.37,15.5,773.5,0
min,20,8000,0,500,5.42,0,2,497.5,0
max,39,168667,18.5,23093.1,19.59,0.37,15.5,773.5,0

In [14]:
Lesser=[]
Greater=[]
for columnNames in quan:
    if(descriptive[columnNames]['min']<descriptive[columnNames]['Lesser']):
        Lesser.append(columnNames)
    if(descriptive[columnNames]['max']>descriptive[columnNames]['Greater']):
        Greater.append(columnNames)

In [15]:
Lesser

[]

In [16]:
Greater

[]

In [17]:
dataset=pd.get_dummies(dataset,dtype=int,drop_first=True)
dataset

,person_age,person_income,person_emp_exp,loan_amnt,loan_int_rate,loan_percent_income,cb_person_cred_hist_length,credit_score,loan_status,person_gender_male,...,person_education_Master,person_home_ownership_OTHER,person_home_ownership_OWN,person_home_ownership_RENT,loan_intent_EDUCATION,loan_intent_HOMEIMPROVEMENT,loan_intent_MEDICAL,loan_intent_PERSONAL,loan_intent_VENTURE,previous_loan_defaults_on_file_Yes
0,22.0,71948.0,0.0,23093.125,16.02,0.37,3.0,561.0,0,0,...,1,0,0,1,0,0,0,1,0,0
1,21.0,12282.0,0.0,1000.000,11.14,0.08,2.0,504.0,0,0,...,0,0,1,0,1,0,0,0,0,1
2,25.0,12438.0,3.0,5500.000,12.87,0.37,3.0,635.0,0,0,...,0,0,0,0,0,0,1,0,0,0
3,23.0,79753.0,0.0,23093.125,15.23,0.37,2.0,675.0,0,0,...,0,0,0,1,0,0,1,0,0,0
4,24.0,66135.0,1.0,23093.125,14.27,0.37,4.0,586.0,0,1,...,1,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,27.0,47971.0,6.0,15000.000,15.66,0.31,3.0,645.0,0,1,...,0,0,0,1,0,0,1,0,0,0
44996,37.0,65800.0,17.0,9000.000,14.07,0.14,11.0,621.0,0,0,...,0,0,0,1,0,1,0,0,0,0
44997,33.0,56942.0,7.0,2771.000,10.02,0.05,10.0,668.0,0,1,...,0,0,0,1,0,0,0,0,0,0
44998,29.0,33164.0,4.0,12000.000,13.23,0.36,6.0,604.0,0,1,...,0,0,0,1,1,0,0,0,0,0
44999,24.0,51609.0,1.0,6665.000,17.05,0.13,3.0,628.0,0,1,...,0,0,0,1,0,0,0,0,0,0

In [18]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45000 entries, 0 to 44999
Data columns (total 23 columns):
person_age                            45000 non-null float64
person_income                         45000 non-null float64
person_emp_exp                        45000 non-null float64
loan_amnt                             45000 non-null float64
loan_int_rate                         45000 non-null float64
loan_percent_income                   45000 non-null float64
cb_person_cred_hist_length            45000 non-null float64
credit_score                          45000 non-null float64
loan_status                           45000 non-null int64
person_gender_male                    45000 non-null int32
person_education_Bachelor             45000 non-null int32
person_education_Doctorate            45000 non-null int32
person_education_High School          45000 non-null int32
person_education_Master               45000 non-null int32
person_home_ownership_OTHER           45000 non-null int32
person_home_ownership_OWN             45000 non-null int32
person_home_ownership_RENT            45000 non-null int32
loan_intent_EDUCATION                 45000 non-null int32
loan_intent_HOMEIMPROVEMENT           45000 non-null int32
loan_intent_MEDICAL                   45000 non-null int32
loan_intent_PERSONAL                  45000 non-null int32
loan_intent_VENTURE                   45000 non-null int32
previous_loan_defaults_on_file_Yes    45000 non-null int32
dtypes: float64(8), int32(14), int64(1)
memory usage: 5.5 MB

In [19]:
dataset.columns

Index(['person_age', 'person_income', 'person_emp_exp', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'credit_score', 'loan_status', 'person_gender_male',
       'person_education_Bachelor', 'person_education_Doctorate',
       'person_education_High School', 'person_education_Master',
       'person_home_ownership_OTHER', 'person_home_ownership_OWN',
       'person_home_ownership_RENT', 'loan_intent_EDUCATION',
       'loan_intent_HOMEIMPROVEMENT', 'loan_intent_MEDICAL',
       'loan_intent_PERSONAL', 'loan_intent_VENTURE',
       'previous_loan_defaults_on_file_Yes'],
      dtype='object')

In [20]:
indep= dataset[['person_age', 'person_income', 'person_emp_exp', 'loan_amnt',
       'loan_int_rate', 'loan_percent_income', 'cb_person_cred_hist_length',
       'loan_status', 'person_gender_male',
       'person_education_Bachelor', 'person_education_Doctorate',
       'person_education_High School', 'person_education_Master',
       'person_home_ownership_OTHER', 'person_home_ownership_OWN',
       'person_home_ownership_RENT', 'loan_intent_EDUCATION',
       'loan_intent_HOMEIMPROVEMENT', 'loan_intent_MEDICAL',
       'loan_intent_PERSONAL', 'loan_intent_VENTURE',
       'previous_loan_defaults_on_file_Yes']]
dep= dataset[[ 'credit_score',]]

In [21]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(indep, dep, test_size=0.30, random_state=0)

In [22]:
from sklearn.ensemble import RandomForestRegressor
regressor= RandomForestRegressor()
regressor.fit(x_train,y_train)

C:\Users\haish\anaconda3\envs\aiml\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestRegressor()

In [23]:
y_pred= regressor.predict(x_test)

In [24]:
from sklearn.metrics import r2_score
r_score= r2_score(y_test,y_pred)
r_score

0.049573170085105644

In [25]:
import pickle

In [26]:
filename="finalized_model_mul_linear.sav"
pickle.dump(regressor,open(filename,'wb'))

In [27]:
loaded_model=pickle.load(open(filename,'rb'))
result=loaded_model.predict([[22,71948,0,35000,16.02,0.49,3,1,0,1,0,0,1,0,0,1,0,0,1,1,0,0]])

C:\Users\haish\anaconda3\envs\aiml\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [28]:
result

array([593.25])